<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.phonegapsplashscreen-test"
        version     = "1.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <preference name="phonegap-version" value="3.5.0" />

        <name>Phonegap Splash Screen test</name>
        <description>Splash Screen test.</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>
        <gap:platform name="android" />
		<gap:platform name="ios" />


        <preference name="permissions" value="none"/>
        <gap:plugin name="org.apache.cordova.splashscreen" />
        <gap:plugin name="org.apache.cordova.device" />

		<preference name="SplashScreen" value="splash" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="auto-hide-splash-screen" value="false" />  <!-- iOS -->
		<preference name="show-splash-screen-spinner" value="false" />  <!-- iOS -->

		<gap:splash src="splash.png" />
		<gap:splash src="res/android/splashscreen-200x320-ldpi.png" gap:platform="android" gap:qualifier="port-ldpi" />
		<gap:splash src="res/android/splashscreen-320x480-mdpi.png" gap:platform="android" gap:qualifier="port-mdpi" />
		<gap:splash src="res/android/splashscreen-480x800-hdpi.png" gap:platform="android" gap:qualifier="port-hdpi" />
		<gap:splash src="res/android/splashscreen-720x1280-xhdpi.png" gap:platform="android" gap:qualifier="port-xhdpi" />

		<gap:splash src="res/ios/splashscreen-320x480.png"  gap:platform="ios" width="320" height="480" />
		<gap:splash src="res/ios/splashscreen-640x960.png"  gap:platform="ios" width="640" height="960" />
		<gap:splash src="res/ios/splashscreen-640x136.png"  gap:platform="ios" width="640" height="1136" />
		<gap:splash src="res/ios/splashscreen-768x1024.png" gap:platform="ios" width="768" height="1024" />
		<gap:splash src="res/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768" />
    </widget>
